body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#imageinformation{
    position: absolute;
    left: 44%;
    top: 27%;
}
#bottomrightlogo{
    position: fixed;
    left: 1450px;
    top: 590px;
}

p{
    margin-right: 850px;
}