#maindiv{
    display: flex;
    flex-direction: row-reverse;
    margin: 100px;
}

.cubes{
    height: 100%;
    width: 100px;
}

#cube1{
    background: black;
}
#cube2{
    background: white;
    border: 2px black solid;
}
#cube3{
    background: red;
}
#cube4{
    background: cyan;
}