body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

div{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 3px black solid;
    animation-name: scale;
    animation-duration: 5s;
}

@keyframes scale{
    0%{

    }
    33%{
        transform: scale(1.5);
    }
    67%{
        transform: scale(0.5);
    }
    84%{
        transform: scale(1.01);
    }
    100%{

    }
}