#div1{
    border: 2px solid black; 
    padding: 20px;           
    margin: 10px;  
}

#diph{
    border: 2px solid black; 
         

}
#diph1{
    border: 2px solid black; 
          
   
}
#diph2{
    border: 2px solid black; 
    
}